# i3 config file (v4)

# mod key: use windows one, not ALT.
set $mod Mod4

# font.
font pango:PragmataProMono NF 11
font pango:Terminus 11px

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# kill focused window
bindsym $mod+Shift+Q kill

# Fullscreen
bindsym $mod+f fullscreen toggle

# reload/restart/exit
bindsym $mod+Shift+C reload
bindsym $mod+Shift+R restart
bindsym $mod+Shift+E exit

# Remove window decoration
new_window 1pixel
for_window [class="^.*"] border pixel 1

# Floating mode for everything!
for_window [class="[.]*"] floating enable, resize set 1100 550, move position 133 105
bindsym $mod+Shift+space floating toggle

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Focus follows mouse.
focus_follows_mouse yes

# display workspace buttons plus a statusline generated by i3status 
bar {                                                               
    status_command i3status                                         
}                                                                   
